.header {
    background-color: #282a3b;
}

.body {
    background-color: #202230;
}

.element-name {
    border: 2px solid red;
    width: 20%;
    margin: auto 10px auto 10px;
    padding: 10px;
    border-radius: 20px 40px 20px 40px;
    display: inline-block;
}

.sup {
    vertical-align: super;
}

.sub {
    vertical-align: sub;
}

.nav-link {
    margin: 0 20px 0 20px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.logo_Dark {
    float: left;
    font-size: 35px;
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom left, gray 40%, white 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 30px;
    color: white;
}

.panel-bar {
    position: fixed;
    bottom: 0;
    height: 5%;
    vertical-align: middle;
    background-color: #e0e0e0;
    width: 100%;
    opacity: 0.9;
}

.fox-elements {
    width: 2.8%;
    float: left;
    margin-right: 0.1vw;
    cursor: pointer;
    opacity: 1;
}

.fox-elements:hover {
    background-color: gray;
}

.panel-text {
    vertical-align: middle;
}

@media only screen and (max-width: 1300px) {
    .nav-link {
        font-size: 20px;
    }

    .logo_Dark {
        font-size: 20px;
    }

    .description {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .fox-elements {
        width: 10vw;
        margin-right: 0.5vw;
    }

    .panel-bar {
        height: 6%;
    }

    .nav-link {
        font-size: 15px;
    }

    .logo_Dark {
        font-size: 15px;
    }

    .description {
        font-size: 15px;
    }
}

#root {
    background: #FF529B;
    background: -webkit-linear-gradient(top left, #FF529B, #B86A21);
    background: -moz-linear-gradient(top left, #FF529B, #B86A21);
    background: linear-gradient(to bottom right, #FF529B, #B86A21);
    background-repeat: no-repeat;
    height: 100vh;
}

.ondisplay {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;

}
.nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.window-app {
    background-color: white;
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: -1;
}

.window-app-header {
    height: 25px;
    width: 100%;
    background-color: black;
    vertical-align: middle;
}
.closebutton {
    background-color: darkred;
    float: right;
    width: 50px;
}
.blue-background {
    background-color: #202230;
}

input {
    background-color:  #282a3b;
    color: white;
    border: 0;
    width: 50%;
    height: 30px;
}