.header {
    background-color: #282a3b;
}

.body {
    background-color: #202230;
}

.element-name {
    border: 2px solid red;
    width: 20%;
    margin: auto 10px auto 10px;
    padding: 10px;
    border-radius: 20px 40px 20px 40px;
    display: inline-block;
}

.sup {
    vertical-align: super;
}

.sub {
    vertical-align: sub;
}

.updrob {
    padding: 0 5px;
}

.p-abzac {
    margin: 0.7em;
}

.downdrob {
    padding: 0 5px;
    display: block;
    border-top: 1px solid black;
}

.drob {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.downline {
    border-bottom: 1px solid black;
}

.downline-white {
    padding: 5px;
    border-bottom: 1px solid white;
}

.border-red {
    padding: 15px;
    border: 1px solid red;
}

.nav-link {
    margin: 0 20px 0 20px;
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.logo_Dark {
    float: left;
    font-size: 35px;
    background: rgb(2, 0, 36);
    background: linear-gradient(to bottom left, gray 40%, white 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 30px;
    color: white;
}

.panel-bar {
    position: fixed;
    bottom: 0;
    height: 5%;
    vertical-align: middle;
    background-color: #e0e0e0;
    width: 100%;
    opacity: 0.9;
}

.fox-elements {
    width: 2.8%;
    float: left;
    margin-right: 0.1vw;
    cursor: pointer;
    opacity: 1;
}

.fox-elements-help {
    width: 5%;
    vertical-align: middle;
}

.fox-elements:hover {
    background-color: gray;
}

.help-a {
    font-size: 25px;
}

.panel-text {
    vertical-align: middle;
}

#root {
    background: #FF529B;
    background: -webkit-linear-gradient(top left, #FF529B, #B86A21);
    background: -moz-linear-gradient(top left, #FF529B, #B86A21);
    background: linear-gradient(to bottom right, #FF529B, #B86A21);
    background-repeat: no-repeat;
    height: 100vh;
}

.ondisplay {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1;

}

.nonselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.window-app {
    background-color: white;
    width: 500px;
    height: 600px;
    position: fixed;
    z-index: -1;
}

.window-app-header {
    height: 25px;
    width: 100%;
    background-color: black;
    vertical-align: middle;
}

.closebutton {
    background-color: darkred;
    float: right;
    width: 50px;
}

.blue-background {
    background-color: #202230;
}

input {
    background-color: #282a3b;
    color: white;
    border: 0;
    width: 50%;
    height: 30px;
}

.garry-background {
    background-image: url(../Image/garry-class.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.what-background {
    background-image: url(../Image/what-man.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

select {
    background: rgba(255, 255, 255, 0);
    border: 0;
    color: white;
    width: 20%;
    font-size: 20px;
}

option {
    background: rgba(255, 255, 255, 0);
    color: black;
}

.black-a {
    color: black;
}

.buttondown {
}

button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #61dafb;
}

.red {
    color: red;
}

.img-browser {
    width: 90px;
    cursor: pointer;
}

.phystube-container {
    overflow: auto;
    height: 835px;
}

.video-text {
    display: block;
    background-color: #202230;
}

.search-line {
    height: 40px;
    width: 100%;
    background-color: lightgray;
}

.search-element {
    color: #282c34;
    float: left;
    margin-top: 3px;
    margin-left: 20px;
    font-size: 20px;
}

.restart-page-image, .restart-page-image-process {
    width: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.restart-page-image-process {
    animation: move 2s infinite linear;
}

@keyframes move {
    0% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.icon-browser {
    display: inline-block;
}

.youtube-rolicks {
    margin: 20px;
    width: 260px;
    display: inline-block;
}